<div class="card card_{{ item.type }}" data-year="{{ item.date | date: "%Y" }}">
  <div class="card__wrap" style="
    {% if item.background_color %}background-color:{{ item.background_color }};{% endif %}
    {% if item.background_image %}background-image:url({{ item.background_image }});{% endif %}
    {% if item.font_color %}color:{{ item.font_color }};{% endif %}
    ">
    {% if item.avatar %}
      <img class="card__avatar" src="{{ item.avatar }}"/>
    {% endif %}
    {% if item.image %}
      <img class="card__img" src="{{ item.image }}"/>
    {% endif %}
    <div class="card__content">
      {% if item.name %}
        <span class="card__name">{{ item.name }}</span>
      {% endif %}
      {% if item.position %}
        <span class="card__position">{{ item.position }}</span>
      {% endif %}
      {{ item.content }}
      {% if item.link_linkedin %}
        <a class="card__link card__link_linkedin" href="{{ item.link_linkedin }}"></a>
      {% endif %}
      {% if item.link_github %}
        <a class="card__link card__link_github" href="{{ item.link_github }}"></a>
      {% endif %}
      {% if item.label %}
        <div class="card__label">{{ item.label }}</div>
      {% endif %}
      {% unless item.label %}
        <div class="card__label">{{ item.date | date: "%B, %Y" }}</div>
      {% endunless %}
    </div>
  </div>
</div>
