<header class="header">
  Rebbix is a startup studio building tomorrow's companies. 
  Together with entrepreneurs, we turn unique ideas into successful companies used by thousands.
  We act as the perfect co-founder to build strong and independent startups.
  <ul class="header__nav">
    <li class="header__nav-item header__nav-item_active">Work</li><!--
 --><li class="header__nav-item">Team</li><!--
 --><li class="header__nav-item">Life</li><!--
 --><li class="header__nav-item">Contact us</li>
  </ul>
  <img class="header__logo" src="/img/logo_rebbix.svg"/>
</header>
