.card {
  &__wrap {
    background-size: cover;
  }

  &_left,
  &_right {
    max-width: 1180px;
    padding: 100px 120px 0 120px;
    margin: 0 auto;
  }

  &_left &__wrap,
  &_right &__wrap {
    margin: 50px 0;
    padding: 40px 100px 40px 40px;
    border-radius: 5px;
  }

  &_left &__wrap {
    float: left;
    margin-right: 50px;
    max-width: 420px;
  }

  &_right &__wrap {
    float: right;
    margin-left: 50px;
    max-width: 380px;
  }

  &_wide &__wrap {
    clear: both;
    padding: 400px 100px 40px;
    text-align: center;
  }

  &__content {
    max-width: 580px;
    margin: 0 auto;

    h1 {
      margin: 20px 0;
      line-height: 42px;
      font-weight: 400;
      font-size: 40px;
    }

    h2 {
      margin: 20px 0;
      line-height: 34px;
      font-weight: 400;
      font-size: 36px;
    }

    h3 {
      margin: 20px 0;
      line-height: 30px;
      font-weight: 400;
      font-size: 32px;
    }

    p {
      margin: 20px 0;
      line-height: 30px;
      font-weight: 400;
      font-size: 22px;
    }
  }

  &__img {
    margin-bottom: 40px;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    opacity: .6;
  }
}
