.marker {
  &:before {
    position: fixed;
    height: 100%;
    border-left: 1px solid #D8D8D8;
    list-style: none;
    left: 41px;
    top: 0;
    content: "";
  }

  &__item {
    position: fixed;
    padding: 0 0 0 10px;
    top: 100%;
    left: 42px;
    letter-spacing: .2px;
    font-size: 13px;
    cursor: pointer;
    color: #a6a6a6;

    &:hover {
      color: #222;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -3px;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      background: #d8d8d8;
      border-radius: 50%;
      content: "";
    }

    &:hover:before {
      background: #222;
    }
  }

  &__item_active {
    position: absolute;
    margin-top: 0 !important;
    transition: none;
    color: #222;

    &:before {
      background: #222;
    }
  }

  @for $i from 1 through 10 {
    &__item:nth-child(#{$i}) {
      margin-top: -#{210 - ($i - 1) * 35}px;
    }
  }
}
